

<div class="row">
    <div class="mshow" style="width: 100%;margin-top: -10px;">&nbsp;</div>

    <div class="col-6  col-lg-3 col-md-6 col-sm-6" (click)="load_To_collect()" >
        <div class="vcard card-stats" style="padding: 0px !important;border-radius: 6px!important;">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon gshade">
              <i class="bx bx-down-arrow-alt"></i>
            </div>
            <p class="card-category">To&nbsp;be Collect</p>
            <h3 class="card-title">{{appservice.Open_Customer_Total |currency:'INR':'symbol':'0.0-0'}} 
              <small></small>
            </h3>
          </div>
         
        </div>
      </div>



      <div class="col-6  col-lg-3 col-md-6 col-sm-6" (click)="Today_Exp()" >
        <div class="vcard card-stats" style="padding: 0px !important;border-radius: 6px!important;">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon oshade">
              <i class="bx bx-up-arrow-alt"></i>
            </div>
            <p class="card-category">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Today Expense</p>
            <h3 class="card-title">  {{appservice.DB_Expense_Total |currency:'INR':'symbol':'0.0-0'}} 
              <small></small>
            </h3>
          </div>
         
        </div>
      </div>
 
      <div class="col-6  col-lg-3 col-md-6 col-sm-6" (click)="load_Today_Collect()" >
        <div class="vcard card-stats" style="padding: 0px !important;border-radius: 6px!important;">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon vshade "style=" background: linear-gradient( 
              60deg
               , #883c74, #e81865);">
              <i class="bx bx-collection"></i>
            </div>
            <p class="card-category">Today Collected</p>
            <h3 class="card-title"> {{appservice.Receipt_Row_Total |currency:'INR':'symbol':'0.0-0'}}
              <small>&nbsp;</small>
            </h3>
          </div>
          
        </div>
      </div>
    
    
      <div class="col-6  col-lg-3 col-md-6 col-sm-6" (click)="load_Today_Issue()" >
        <div class="vcard card-stats" style="padding: 0px !important;border-radius: 6px!important;">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon vshade"style="    background: linear-gradient( 
              60deg
               , #de9e11, #fbff07b8);">
              <i class="bx bx-log-out"></i>
            </div>
            <p class="card-category">  &nbsp;Today&nbsp;Loan Issue</p>
            <h3 class="card-title"> {{appservice.Emi_Loan_Issue_Total |currency:'INR':'symbol':'0.0-0'}}
              <small>&nbsp;</small>
            </h3>
          </div>
         
        </div>
      </div>


      <div class="col-md-6 jhead">

 
        <table class="ul table table-sm table-bordered" style="width: 100%;margin-bottom: 20px; background-color: white;">
          <tr style="background-color: #f4f2f4;">
        
            <th style="padding-left: 10px;line-height: 35px;">#</th>
            <th>Bank Name</th>
            <th style="text-align: right;">Amount&nbsp;</th>
        
          </tr>
        
          <tr class="li" *ngFor="let data of appservice.DB_Bank_Row;let i = index"
            style="border-top: 1px solid rgb(0 0 0 / 8%);">
            <td style="padding-left: 10px;line-height: 35px;">{{(i+1)}}</td>
            <td>{{data.Ledger_Name}}
            </td>
            <td style="text-align: right;"><span class="text-success">₹</span>{{data.Amount}}&nbsp;&nbsp;
        
            </td>
        
          </tr>
           
        
    
          <tr >
    
            
            <td colspan="2">Total</td>
            <td style="text-align: right;  font-weight: 700;   color: rgb(26, 112, 5);">
              ₹ {{appservice.DB_Bank_Total| number:'1.2-2'}}&nbsp;&nbsp;</td>      </tr>
        
        </table>
     
    
     
       
    </div>
     
      

     <!-- <div class="col-6 col-lg-3 col-md-6 col-sm-6" >
        <div class="vcard card-stats" style="padding: 0px !important;border-radius: 6px!important;">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon bshade" (click)="load_Amt_Hand()">
              <i class="bx bxs-landmark"></i>
            </div>
            <p class="card-category">Available</p>
            <h3 class="card-title">{{appservice.Total|currency:'INR':'symbol':'0.0-0'}} 
              <small></small>
            </h3>
          </div>
         
        </div>
      </div>


      <div class="col-6  col-lg-3 col-md-6 col-sm-6" (click)="load_Group_details()" >
        <div class="vcard card-stats" style="padding: 0px !important;border-radius: 6px!important;">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon vshade">
              <i class="bx bx-group"></i>
            </div>
            <p class="card-category">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Group's</p>
            <h3 class="card-title"> {{appservice.Group_Member_Row_count}}
              <small>&nbsp;</small>
            </h3>
          </div>
          
        </div>
      </div>


  
</div>


<div  class="row " style="justify-content: center;">

  <div class="pad_15">
  <div  class="vicon"><i class="bx bxs-user li"></i></div>

    <span class="vtext">Customer</span>
</div>

<div  class="pad_15">
  <div  class="vicon"><i class="bx bx-rocket li"></i></div>
  <span class="vtext">loan</span>
</div>

<div class="pad_15" >
  <div   class="vicon"><i class="bx bx-cart-alt li"></i></div>
  <span class="vtext">Action</span>
</div>

<div class="pad_15" >
  <div   class="vicon"><i class="bx bx-cart-alt li"></i></div>
  <span class="vtext">Customer</span>
</div>


</div>-->


<div  class="row">

 
 



 
   
</div>