<div class="row">
    <div class="col-md-12 nopad">
      <div class="card content ">
  
        <div class=" Head ">
  
  
  
          <div class="card-header  d-flex justify-content-between align-items-center">
            <h3>Add Daily Site Visit</h3>
  
            <div class="dropdown">
  
              <a (click)="Back()" style="font-size: 20px;font-weight: 900;cursor: pointer;color:black">
                <b>X</b>
              </a>
  
  
            </div> 
          </div>
  
        </div>
  
        <div class="content_body">
  
  
  
          <form #addForm="ngForm" (ngSubmit)="addData(addForm)" (keydown.enter)="$event.preventDefault()" novalidate>
  
  
  
            <div class="row">
  
              <div class="col-sm-6">
  
                <div class="form-table table-responsive">
                  <table class="table table-bordered">
  
  
                    <tbody>

                        <tr>
                            <td>Project<span class="text-danger">*</span></td>
                            <td><input class="select2-option form-control " type="text" [(ngModel)]="add.dsv_project" name="dsv_project" #dsv_project="ngModel" style="width:100%"   aria-hidden="true">
                              </td>
                          </tr>

                        <tr>
                            <td>Date<span class="text-danger">*</span></td>
                            <td><input class="form-control" type="date" [(ngModel)]="add.dsv_date" name="dsv_date" #dsv_date="ngModel" required>
                            </td>
                          </tr>
                      
                        
                      <tr>
                        <td>Area<span class="text-danger">*</span></td>
                        <td><input class="form-control" type="text" [(ngModel)]="add.dsv_area" required
                            name="dsv_area" #dsv_area="ngModel">
                          <!-- <div *ngIf="addForm.submitted && Account_Name.invalid" class="invalid-feedback d-block">
                            <div class="error">Account Name Should not Empty</div>
                          </div> -->
                        </td>
                      </tr>
  
                      
  
                      <tr>
                        <td>Image<span class="text-danger">*</span></td>
                        <td><input class="form-control" type="text" [(ngModel)]="add.dsv_img" name="dsv_img" #dsv_img="ngModel" required>
                        </td>
                      </tr>
  
                      
  
                      <tr>
                        <td>Remarks<span class="text-danger">*</span></td>
                        <td><input class="form-control" type="text" [(ngModel)]="add.dsv_remarks" name="dsv_remarks" #dsv_remarks="ngModel" required>
                        </td>
                      </tr>                 
                                 
                      
                    </tbody>
  
                  </table>
  
                 <div class="invoice-btn-box text-right " style="padding-bottom:20px">          
                 <button class="btn btn-info rounded-pil" type="submit"> <i class='bx bx-paper-plane'></i> Save </button> &nbsp;&nbsp;
                 <button class="btn btn-secondary rounded-pil" type="button" (click)="Back()">Cancel</button> &nbsp;&nbsp;
                 </div>
  
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
