<div class="row">
    <div class="col-md-12 nopad">
        <div class="hbar">Theme Setting</div>

        <div class="row nopad" style="text-align:center;">
            <div  class="col-6 col-md-3">
                <img  (click)="load_theme('default.css')" class="timg" src="assets/img/theme/default.png">
                <div class="imbar"> Default</div>
            </div>

            <div class="col-6 col-md-3">
                <img  (click)="load_theme('blue_bar.css')" class="timg" src="assets/img/theme/blue_bar.png">
                <div class="imbar"> Bule bar</div>
            </div>
            <div class="col-6 col-md-3">
                <img  (click)="load_theme('blue.css')" class="timg" src="assets/img/theme/Blue.png">
                <div class="imbar"> Blue</div>
            </div>

            <div class="col-6 col-md-3">
                <img  (click)="load_theme('green.css')" class="timg" src="assets/img/theme/Green.png">
                <div class="imbar"> Green</div>
            </div>

        </div>
    </div>