<div class="row">
    <div class="col-md-12 nopad">
        <div class="search-bar_Ext  mshow disp" style=" padding: 10px; display: inline-block;">
            <a (click)="appservice.Open_Modal('Title','item_Master')" class="x pright45" >
           
                <li class="bx bx-plus-circle"style="font-size: 25px;float: left; margin-left: 10px;"></li>
                <span style="font-weight: bold;">Add Item</span> 
            </a>
           
            <li style="color: #37517e;" (click)="appservice.back()" class="bx bx-left-arrow-alt mshow  search_back"></li>
      
                <label class="h_txex mshow">Purchase Entry</label>
          </div>
        <div class="card content c_pad_5">

            <div class=" Head mhide">
                <div class="card-header  d-flex justify-content-between align-items-center">
                    <h3>Purchase Entry</h3>

                    <div class="dropdown">
                        <a (click)="appservice.back()" class="x">
                            <b>X</b>
                        </a>


                    </div>
                </div>

            </div>

            <div class="content_body">

                    <div class="row">
                        <div class="col-md-5 nopad">

                            <table style="width: 100%;">
                    
                                <tr *ngFor="let data of appservice.get_pos_field('Purchase','1TL')">
                                    <td style="padding-left: 8px;width: 120px;">{{data.Name}} <span *ngIf="data.Validate=='True'" class="text-danger">*</span></td>
                    
                                    <td>
                                        <select *ngIf="data.Type=='Select'" class="select2-option form-control" aria-hidden="true" required="data.Validate=='True'" [(ngModel)]="appservice.header_Row[data.Field]" name="{{data.Field}}" #{{data.Field}}="ngModel">
                                                       <option *ngFor="let row of appservice.get_ref(data.Options)" value={{row.label}}>
                                                           {{row[data.Store_Value]}}
                                                       </option>
                                                     </select>
                    
                    
                                        <input *ngIf="(data.Field=='pur_ledger_name' || data.Field=='Customer_Name' )" class="form-control" (focus)="get_customers()" [readonly]="data.IsEdit=='False'" required="data.Validate=='True'" type="{{data.Type}}" [(ngModel)]="appservice.header_Row[data.Field]"
                                            name="{{data.Field}}" #{{data.Field}}="ngModel">
                    
                                        <textarea *ngIf="(data.Type=='TextArea')" class="form-control" [readonly]="data.IsEdit=='False'" required="data.Validate=='True'" [(ngModel)]="appservice.header_Row[data.Field]" name="{{data.Field}}" #{{data.Field}}="ngModel" rows="2"></textarea>
                    
                                        <input *ngIf="!(data.Type=='Select'|| data.Type=='TextArea' || data.Field=='pur_ledger_name' || data.Field=='Customer_Name')" class="form-control {{data.Class}}" [readonly]="data.IsEdit=='False'" required="data.Validate=='True'" type="{{data.Type}}" [(ngModel)]="appservice.header_Row[data.Field]"
                                            name="{{data.Field}}" #{{data.Field}}="ngModel">
                    
                                        <div *ngIf='addForm.submitted && (data.Validate=="True") && (appservice.header_Row[data.Field]=="")' class="invalid-feedback d-block">
                                            <div class="error"> {{data.Name}} Should not entry</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                    
                        </div>
                    
                        <div class=" col-md-4 nopad">
                    
                            <table style="width: 100%;">
                          <tr>
                             <td style="padding-left: 8px;width: 120px;">Branch Name<span class="text-danger">*</span></td>
                              <td>
                               <select class="select2-option form-control" [disabled]="btndisable1" required 
                                [(ngModel)]="appservice.header_Row.pur_branch" name="pur_branch" #pur_branch="ngModel" style="width:100%"   aria-hidden="true" >              
                                <option *ngFor="let data of appservice.Branch_Name_Rows" value={{data.value}}>
                                                    {{data.label}}
                                </option>                                
                                </select>  
                                <div *ngIf="addForm.submitted && pur_branch.invalid" class="invalid-feedback d-block ">
                                 <div class="error">Branch Name Should Not Be Empty</div>
                                  </div>  
                              </td>
                          </tr>
                                <tr *ngFor="let data of appservice.get_pos_field('Purchase','2TM')">
                                    <td style="padding-left: 8px;width: 120px;">{{data.Name}} <span *ngIf="data.Validate=='True'" class="text-danger">*</span></td>
                    
                                    <td>
                    
                                        <select *ngIf="data.Field=='Accounts_ID' " class="select2-option form-control" aria-hidden="true" required="data.Validate=='True'" [(ngModel)]="appservice.header_Row[data.Field]" name="{{data.Field}}" #{{data.Field}}="ngModel">
                                                  <option *ngFor="let row of appservice.get_Ledger_group(13)" value={{row.value}}>
                                                      {{row.label}}
                                                  </option>
                                                </select>
                    
                    
                                        <select *ngIf="(data.Type=='Select'  && data.Field!='Accounts_ID')" class="select2-option form-control" aria-hidden="true" required="data.Validate=='True'" [(ngModel)]="appservice.header_Row[data.Field]" name="{{data.Field}}" #{{data.Field}}="ngModel">
                                                   <option *ngFor="let row of appservice.get_ref(data.Options)" value={{row.label}}>
                                                       {{row[data.Store_Value]}}
                                                   </option>
                                                 </select>
                    
                    
                                        <input *ngIf="(data.Type!='Select'  && data.Field!='Accounts_ID')" class="form-control" [readonly]="data.IsEdit=='False'" required="data.Validate=='True'" type="{{data.Type}}" [(ngModel)]="appservice.header_Row[data.Field]" [readonly]="data.IsEdit=='False'"
                                            name="{{data.Field}}" #{{data.Field}}="ngModel">
                                        <div *ngIf='addForm.submitted && (data.Validate=="True") && (appservice.header_Row[data.Field]=="")' class="invalid-feedback d-block">
                                            <div class="error"> {{data.Name}} Should not entry</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr >
                                    <td>Transport <span class="text-danger"></span></td>
                                    <td  style="text-align: center;">
                                        <div style="display: inline-flex; width: 100%;">
                                            <div style="width: 70%;" *ngIf="TStatus">
                                        <p-dropdown [style]="{'width':'100%','height':'35px'}" [options]="appservice.Transport_Rows" 
                                        [(ngModel)]="appservice.header_Row.pur_transid"required   resetFilterOnHide="true" placeholder=" " name="pur_transid" #pur_transid="ngModel" [filter]="(appservice.W_width>500)"
                                        (ngModelChange)="onChange1(appservice.header_Row.pur_transid)">
                                        
                                        <ng-template let-car pTemplate="item">
                                         <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                           <div>{{car.label}}</div>
                                         </div>
                                        </ng-template>
                                        </p-dropdown>
                                        
                                        </div> 
                                            <div style="width: 70%;" *ngIf="!TStatus">
                                            <input  class="form-control"  type="text" [(ngModel)]="appservice.header_Row.pur_transport" name="pur_transport" #pur_transport="ngModel">
                        
                                        </div>
                                        <div style="width: 30%;">
                                            <input class="form-check-input" type="checkbox" name="Active_" [(ngModel)]="TStatus" #Active_="ngModel" [ngModelOptions]="{standalone: true}">
                                            <label class="form-check-label" for="Active_">&nbsp;Own</label>
                                        </div>
                                    </div>
                                    </td>
                                </tr>
                                <tr [className]="appservice.header_Row.pur_loc_type=='GoDown' ? '' : 'hidden'">
                                    <td>Go-Down <span class="text-danger"></span></td>
                                    <td><select class="select2-option form-control "  [(ngModel)]="appservice.header_Row.pur_go_down" name="pur_go_down" #pur_go_down="ngModel" style="width:100%"   aria-hidden="true">
                                        <option  value="0"> </option>
                                        <option *ngFor="let summary of Godown_Rows" value={{summary.value}}>
                                            {{summary.label}}
                                        </option>
                                    </select></td>
                                </tr>
                                <tr [className]="appservice.header_Row.pur_loc_type=='Project' ? '' : 'hidden'">
                                    <td>Project <span class="text-danger"></span></td>
                                    <td>
                                        <p-dropdown [style]="{'width':'100%','height':'35px'}" [options]="appservice.SProject_Rows" 
                        [(ngModel)]="appservice.header_Row.pur_projectid"required   resetFilterOnHide="true" placeholder=" " name="pur_projectid" #pur_projectid="ngModel" [filter]="(appservice.W_width>500)"
                        (ngModelChange)="onChange(appservice.header_Row.pur_projectid)">
                    
                       <ng-template let-car pTemplate="item">
                         <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                           <div>{{car.label}}</div>
                         </div>
                       </ng-template>
                     </p-dropdown>
                    </td>
                                </tr>
                                
                                <tr [className]="appservice.header_Row.pur_loc_type=='Project' ? '' : 'hidden'">
                                    <td>To<span class="text-danger"></span></td>
                                    <td>
                                      <p-dropdown [style]="{'width':'100%','height':'35px'}" [options]="TRM_To_Rows1" 
                                      [(ngModel)]="appservice.header_Row.pur_toid"required   resetFilterOnHide="true" placeholder=" " name="pur_toid" #pur_toid="ngModel" [filter]="(appservice.W_width>500)"
                                      (ngModelChange)="onChange3(appservice.header_Row.pur_toid)">
                                    
                                     <ng-template let-car pTemplate="item">
                                       <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                         <div>{{car.label}}</div>
                                       </div>
                                     </ng-template>
                                    </p-dropdown>
                                    </td>
                    
                            </table>
                    
                        </div>
                        <div class=" col-md-3 nopad">
                    
                            <table style="width: 100%;">
                    
                                <tr *ngFor="let data of appservice.get_pos_field('Purchase','3TR')">
                                    <td style="width: 120px; padding-left: 8px;">{{data.Name}} <span *ngIf="data.Validate=='True'" class="text-danger">*</span></td>
                    
                                    <td>
                    
                    
                                        <select *ngIf="data.Field=='Accounts_ID' " class="select2-option form-control" aria-hidden="true" required="data.Validate=='True'" [(ngModel)]="appservice.header_Row[data.Field]" name="{{data.Field}}" #{{data.Field}}="ngModel">
                                                  <option *ngFor="let row of appservice.get_Ledger_group(13)" value={{row.value}}>
                                                      {{row.label}}
                                                  </option>
                                                </select>
                    
                    
                                        <select *ngIf="(data.Type=='Select' && data.Field!='Accounts_ID')" class="select2-option form-control" aria-hidden="true" required="data.Validate=='True'" [(ngModel)]="appservice.header_Row[data.Field]" name="{{data.Field}}" #{{data.Field}}="ngModel">
                                                   <option *ngFor="let row of appservice.get_ref(data.Options)" value={{row.label}}>
                                                       {{row[data.Store_Value]}}
                                                   </option>
                                                 </select>
                    
                    
                    
                                        <input *ngIf="(data.Type!='Select' && data.Field!='Accounts_ID')" class="form-control" [readonly]="data.IsEdit=='False'" required="data.Validate=='True'" type="{{data.Type}}" [(ngModel)]="appservice.header_Row[data.Field]" name="{{data.Field}}" #{{data.Field}}="ngModel">
                    
                                        <div *ngIf='addForm.submitted && (data.Validate=="True") && (appservice.header_Row[data.Field]=="")' class="invalid-feedback d-block">
                                            <div class="error"> {{data.Name}} Should not entry</div>
                                        </div>
                                    </td>
                                </tr>
                    
                            </table>
                    
                        </div>
                        <!-- <div class="col-sm-4">

                            <div class="form-table table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr class="hidden">
                                            <td>ID <span class="text-danger">*</span></td>
                                            <td><input class="form-control" type="text" [(ngModel)]="appservice.header_Row.pur_id" name="pur_id"
                                                    #pur_id="ngModel" ></td>
                                        </tr>
                                        <tr>
                                            <td>Supplier Name <span class="text-danger">*</span></td>
                                        <td>
  
                                            <li  (click)="get_customers()"   class="bx bx-search sicon"></li>
                                            <input class="form-control" (focus)="get_customers()"  readonly type="text"required [(ngModel)]="appservice.header_Row.pur_ledger_name" name="pur_ledger_name"
                                            #pur_ledger_name="ngModel">
                                          <div *ngIf="addForm.submitted && pur_ledger_name.invalid" class=" invalid-feedback d-block">
                                            <div class="error">Supplier Should not entry</div>
                                          </div>
                                          </td>
                                        </tr>
                                        <tr >
                                            <td>Address <span class="text-danger"></span></td>
                                            <td><input class="form-control" type="text" [(ngModel)]="appservice.header_Row.pur_ledger_address1" name="pur_ledger_address1"
                                                #pur_ledger_address1="ngModel"  disabled="true"></td>
                                        </tr>
                                        <tr >
                                            <td>Bill Type <span class="text-danger"></span></td>
                                            <td><select class="select2-option form-control "  [(ngModel)]="appservice.header_Row.pur_bill_type" name="pur_bill_type" #pur_bill_type="ngModel" style="width:100%"   aria-hidden="true">
                  
                                                <option *ngFor="let summary of Bill_Type_Row" value={{summary.label}}>
                                                    {{summary.label}}
                                                </option>
                                            </select></td>
                                        </tr>
                                        
                                        <tr>
                                            
                                            <div class="col-md-12 text-center" style="display: inline-flex;">
            
                                                <div class="form-check" style="padding-left: 35px;">
            
                                                    <input class="form-check-input" type="radio" name="Manual_" [(ngModel)]="select_mode" #Manual_="ngModel" checked id="Manual_" style="padding-left: 10px; margin-top: 4px;margin-left: -14px; " value="GoDown">
                                                    <label class="form-check-label" for="Manual_">&nbsp;GoDown</label>
                                                </div>
            
            
                                                <div class="form-check" style="padding-left: 35px;">
            
                                                    <input class="form-check-input" type="radio" name="Auto_" id="Auto_" [(ngModel)]="select_mode" #Auto_="ngModel" style="padding-left: 10px; margin-top: 4px;margin-left: -14px; " value="Project">
                                                    <label class="form-check-label" for="Auto_">&nbsp;Project</label>
                                                </div>
                                            </div>
                                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="col-sm-4">

                            <div class="form-table table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr >
                                            <td>Tax Type <span class="text-danger"></span></td>
                                                <td>
                                                    <select class="select2-option form-control "  [(ngModel)]="appservice.header_Row.pur_tax_type" name="pur_tax_type" #pur_tax_type="ngModel" style="width:100%"   aria-hidden="true">
                          
                                                        <option *ngFor="let summary of Tax_Type_Row" value={{summary.label}}>
                                                            {{summary.label}}
                                                        </option>
                                                    </select>
                                                </td>
                                        </tr>
                                        <tr class="hidden">
                                            <td>Bill Mode <span class="text-danger"></span></td>
                                        <td>
                                            <select class="select2-option form-control "  [(ngModel)]="appservice.header_Row.pur_bill_mode" name="pur_bill_mode" #pur_bill_mode="ngModel" style="width:100%"   aria-hidden="true">
                  
                                                <option *ngFor="let summary of Bill_Mode_Row" value={{summary.label}}>
                                                    {{summary.label}}
                                                </option>
                                            </select>
                                        </td>
                                        </tr>
                                        <tr [className]="select_mode=='GoDown' ? '' : 'hidden'">
                                            <td>Go-Down <span class="text-danger"></span></td>
                                            <td><select class="select2-option form-control "  [(ngModel)]="appservice.header_Row.pur_go_down" name="pur_go_down" #pur_go_down="ngModel" style="width:100%"   aria-hidden="true">
                                                <option  value="0"> </option>
                                                <option *ngFor="let summary of appservice.GoDown" value={{summary.value}}>
                                                    {{summary.label}}
                                                </option>
                                            </select></td>
                                        </tr>
                                        <tr [className]="select_mode=='Project' ? '' : 'hidden'">
                                            <td>Project <span class="text-danger"></span></td>
                                            <td>
                                                <p-dropdown [style]="{'width':'100%','height':'35px'}" [options]="appservice.SProject_Rows" 
                                [(ngModel)]="appservice.header_Row.pur_projectid"required   resetFilterOnHide="true" placeholder=" " name="pur_projectid" #pur_projectid="ngModel" [filter]="(appservice.W_width>500)"
                                (ngModelChange)="onChange(appservice.header_Row.pur_projectid)">
                     
                               <ng-template let-car pTemplate="item">
                                 <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                   <div>{{car.label}}</div>
                                 </div>
                               </ng-template>
                             </p-dropdown></td>
                                        </tr>
                                        
                        <tr [className]="select_mode=='Project' ? '' : 'hidden'">
                            <td>To<span class="text-danger"></span></td>
                            <td>
                              <p-dropdown [style]="{'width':'100%','height':'35px'}" [options]="TRM_To_Rows1" 
                              [(ngModel)]="appservice.header_Row.pur_toid"required   resetFilterOnHide="true" placeholder=" " name="pur_toid" #pur_toid="ngModel" [filter]="(appservice.W_width>500)"
                              (ngModelChange)="onChange3(appservice.header_Row.pur_toid)">
                   
                             <ng-template let-car pTemplate="item">
                               <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                 <div>{{car.label}}</div>
                               </div>
                             </ng-template>
                           </p-dropdown>
                            </td>
                          </tr> 
                                    </tbody>
                                </table>
                            </div>

                        </div>


                        <div class="col-sm-4">

                            <div class="form-table table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr class="hidden">
                                            <td>Purchase No <span class="text-danger"></span></td>
                                            <td><input class="form-control" type="text" [(ngModel)]="appservice.header_Row.pur_purchase_no" name="pur_purchase_no"
                                                    #pur_purchase_no="ngModel" disabled="true"></td>
                                        </tr>
                                        <tr class="hidden">
                                            <td>Purchase Date <span class="text-danger"></span></td>
                                            <td><input class="form-control"  type="date"
                                                [(ngModel)]="appservice.header_Row.pur_purchase_date" name="pur_purchase_date"
                                                #pur_purchase_date="ngModel"></td>
                                        </tr>
                                        <tr>
                                            <td>Bill No <span class="text-danger">*</span></td>
                                            <td><input class="form-control" type="text" [(ngModel)]="appservice.header_Row.pur_bill_no" name="pur_bill_no"
                                                    #pur_bill_no="ngModel" ></td>
                                        </tr>
                                        <tr>
                                            <td>Bill Date <span class="text-danger"></span></td>
                                            <td><input class="form-control"  type="date"
                                                [(ngModel)]="appservice.header_Row.pur_bill_date" name="pur_bill_date"
                                                #pur_bill_date="ngModel"></td>
                                        </tr>
                                        <tr >
                                            <td>Transport <span class="text-danger"></span></td>
                                            <td>
                                            <p-dropdown [style]="{'width':'100%','height':'35px'}" [options]="appservice.Transport_Rows" 
                            [(ngModel)]="appservice.header_Row.pur_transid"required   resetFilterOnHide="true" placeholder=" " name="pur_transid" #pur_transid="ngModel" [filter]="(appservice.W_width>500)"
                            (ngModelChange)="onChange1(appservice.header_Row.pur_transid)">
                 
                           <ng-template let-car pTemplate="item">
                             <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                               <div>{{car.label}}</div>
                             </div>
                           </ng-template>
                         </p-dropdown></td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                            <br>
                        </div> -->

                    </div>
                    <div class="row">
                        <div class="col-md-12 nopad" >
                    
                    
                                <div class="spin_block" *ngIf="new_load">
                                        <div class="d-flex justify-content-center">
                                          <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                          </div>
                                        </div>
                                      </div>
                    
                               
                                <div class="entry_table1">
                    
                                        <div class="header">
                                                <div style="width:30px">#</div>
                                                <div *ngFor="let data of rs" [style.width]="data.Width">{{data.Name}}</div>
                                                <div style="width: 40px;"></div>
                                        </div>
                    
                                        <div class="body" *ngFor="let rowData of appservice.Details_Row;index as i">
                                                <div class="row_hover" style="width:30px">{{i+1}}</div>
                                                <div *ngFor="let data of rs" class="in cell row_hover" [style.width]="data.Width">
                    
                                                        <label 
                                                        [style.background-color]="(rowData.pur_sales_qty==rowData.pur_qty)?'#ffc1073b':''"
                                                        [style.text-align]="data.Align"  style=" width: 100%; padding-right: 5px;"  *ngIf="(data.Type=='Label')">{{rowData[data.Field]}}</label>
                    
                    
                                                        <input    
                                                        [style.background-color]="(rowData.pur_sales_qty==rowData.pur_qty)?'#ffc1073b':''"
                    
                                                        *ngIf="!(data.Type=='Label')"
                                                        [(ngModel)]="rowData[data.Field]"
                                                        (change)="calc_details_Row(i)"
                                                        (keyup)="calc_details_Row(i)" 
                                                        [style.text-align]="data.Align" type="{{data.Type}}" class="in tbtext"
                                                                style="width: 100%;" value="{{rowData[data.Field]}}">
                    
                                                                <span *ngIf="data.Field=='pur_qty'" style="font-size: 10px;
                                                position: absolute;
                                                right: 25px;
                                                background: bottom;
                                                padding-top: 23px;
                                                font-family: monospace;
                                                color: #005b9f;" > <span *ngIf="rowData.pur_sales_qty!=0">{{rowData.pur_sales_qty}}</span> </span>
                                                               
                                                </div>
                                                
                    
                                                <div  class="del_bx row_hover">
                                                     <li (click)="del_row(i)" class="bx bx-trash"></li>
                                                </div>
                                                <!-- <div class="del_bx row_hover">
                                                        <li (click)="Open_Customer_Module1(rowData)" class="bx bxs-hand-up"></li>
                                                         </div> -->
                                        </div>
                    
                    
                                        <div class="body">
                                                <div style="width:30px"></div>
                                                <div *ngFor="let data of rs ; index as i" class="cell" [style.width]="data.Width">
                    
                    
                    
                                                        <input *ngIf="data.Field=='Item_Code'" placeholder="Code"
                                                                [(ngModel)]="appservice.Sales_Temp_Row.pur_prodcode" name="ID"
                                                                #ID="ngModel"
                                                                (keyup.enter)="get_by_Code(appservice.Sales_Temp_Row.pur_prodcode,'Code')"
                                                                class="code in tbtext" type="text">
                    
                    
                                                        <app-vingrid *ngIf="data.Field=='pur_prodname'" class="Name"
                                                                [(inputModel)]="appservice.Sales_Temp_Row.pur_prodname"
                                                                [(label_)]="appservice.Sales_Temp_Row.pur_prodname"
                                                                [(values_)]="appservice.Sales_Temp_Row.pur_prodname"
                                                                [(Placeholder)]="place_holder"
                                                                 [Row]="appservice.Item_Master_Rows"
                                                                (inputModelChange)="appservice.Sales_Temp_Row.pur_prodname = $event"
                                                               
                                                                (valueModelChange)="get_by_Code($event,'Name')"  (keyup.enter)="out()" >
                                                        </app-vingrid>
                    
                    
                                                       
                                                        <label [style.text-align]="data.Align"  style=" width: 100%; padding-right: 5px;"  *ngIf="(data.Type=='Label') ">{{appservice.Sales_Temp_Row[data.Field]}}</label>
                                                        <input *ngIf="!((data.Field=='pur_prodname') || (data.Type=='Label') || (data.Field=='Item_Code')) " [readonly]="data.IsEdit=='False'" class="in tbtext {{data.Class}}" [(ngModel)]="appservice.Sales_Temp_Row[data.Field]" (keyup)="calc_tempdata()" (keyup.enter)="out()"
                                                        [style.text-align]="data.Align" type="{{data.Type}}">
                                           
                    
                                                </div>
                    
                                                <div   class="add_bx">
                                                        <li *ngIf="(appservice.Sales_Temp_Row.pur_qty+appservice.Sales_Temp_Row.pur_free)>0" tabindex="0"
                                                        (keyup.enter)="add_data(appservice.Sales_Temp_Row)"
                                                                (click)="add_data(appservice.Sales_Temp_Row)"
                                                       class="bx bx-plus-circle in"></li>
                                                </div>
                    
                                               
                    
                    
                    
                                        </div>
                                </div>
                        </div>
                        <div>
                                
                        </div>
                    </div>
                    
                    <div class="row">


    
                        <div class=" col-md-5 nopad" >
        
                                <table style="width: 100%;">
                                            
                                        <tr *ngFor="let data of appservice.get_pos_field('Purchase','4BL')">
                                            <td style="padding-left: 8px;width: 120px;">{{data.Name}}  <span *ngIf="data.Validate=='True'" class="text-danger">*</span></td>
                
                                            <td>
                                                <select  *ngIf="data.Type=='Select'" class="select2-option form-control"  aria-hidden="true"
                                                 required="data.Validate=='True'" [(ngModel)]="appservice.header_Row[data.Field]"
                                                    name="{{data.Field}}" #{{data.Field}}="ngModel">
                                                   <option *ngFor="let row of appservice.get_ref(data.Options)" value={{row.label}}>
                                                       {{row[data.Store_Value]}}
                                                   </option>
                                                 </select>
                
                                                
                                                 <textarea *ngIf="data.Type=='TextArea'" class="form-control"  rows="4"  [readonly]="data.IsEdit=='False'"  required="data.Validate=='True'" [(ngModel)]="appservice.header_Row[data.Field]"
                                                 name="{{data.Field}}" #{{data.Field}}="ngModel"   ></textarea>
                                                 
                                                
                                                <input *ngIf="!(data.Type=='Select' || data.Type=='TextArea')" class="form-control"   [readonly]="data.IsEdit=='False'"  required="data.Validate=='True'" type="{{data.Type}}" [(ngModel)]="appservice.header_Row[data.Field]"
                                                    name="{{data.Field}}" #{{data.Field}}="ngModel"   >
                                                    
                                                
                                                    <div *ngIf='addForm.submitted && (data.Validate=="True") && (appservice.header_Row[data.Field]=="")' class="invalid-feedback d-block">
                                                        <div class="error"> {{data.Name}} Should not entry</div>
                                                    </div>  
                                                </td>
                                        </tr>
                
                                    </table>     
                
                        </div>
                
                
                <div class="col-md-3 nopad"></div>
                
        
                <div class="col-md-4 nopad">
                        <table *ngIf="appservice.header_Row.pur_sub_total>0"  class="sum_row">
                                <tr *ngIf="appservice.header_Row.pur_sub_total!=appservice.header_Row.pur_net_amt"  >
                                        <td class="left">Sub Total</td>
                                        <td></td>
                                        <td class="right">{{appservice.header_Row.pur_sub_total}}</td>
                                </tr>
        
                                <tr *ngIf="appservice.header_Row.pur_disc_amt>0">
                                        <td class="left">Discount</td>
                                        <td>{{appservice.header_Row.pur_disc_per}}</td>
                                        <td class="right">{{appservice.header_Row.pur_disc_amt}}</td>
                                </tr>
        
                                <tr  *ngIf="appservice.header_Row.pur_sub_total!=appservice.header_Row.pur_taxable_amount" >
                                        <td class="left">Taxable</td>
                                        <td></td>
                                        <td class="right">{{appservice.header_Row.pur_taxable_amount}}</td>
                                </tr>
        
        
                                <tr  *ngIf="appservice.header_Row.pur_igst_amt>0">
                                        <td class="left">IGST</td>
                                        <td>{{appservice.header_Row.pur_igst_per}}</td>
                                        <td class="right">{{appservice.header_Row.pur_igst_amt}}</td>
                                </tr>
        
                                
                                <tr   *ngIf="appservice.header_Row.pur_sgst_amt>0">
                                        <td class="left">SGST</td>
                                        <td>{{appservice.header_Row.pur_sgst_per}}</td>
                                        <td class="right">{{appservice.header_Row.pur_sgst_amt}}</td>
                                </tr>
        
                                
                                <tr   *ngIf="appservice.header_Row.pur_cgst_amt>0">
                                        <td class="left">CGST</td>
                                        <td>{{appservice.header_Row.pur_cgst_per}}</td>
                                        <td class="right">{{appservice.header_Row.pur_cgst_amt}}</td>
                                </tr>
        
                                
                               
                                <tr   *ngIf="appservice.TCS_Enable==true">
                                        <td class="left">TCS</td>
        
                                        <td class="hidden"><input  style="max-width: 40px;"  (keyup)="Calc_Sum()"  value="0"  [(ngModel)]="appservice.header_Row.pur_tcs_per" type="number" class="sum_text"/></td>
                                        <td></td>
                                        <td class="right"><input  (keyup)="Calc_Sum()"  value="0"  [(ngModel)]="appservice.header_Row.pur_tcs_amt" type="number" class="sum_text"/></td>
        
                                </tr>
                                <tr>
                                        <td class="left">Adjustment</td>
                                        <td></td>
                                        <td class="right"><input  (keyup)="Calc_Sum()"  value="0"  [(ngModel)]="appservice.header_Row.pur_adjustment" type="number" class="sum_text"/></td>
        
                                </tr>
                                
                                <tr>
                                        <td class="left">Net Amount</td>
                                        <td></td>
                                        <td class="right">{{appservice.header_Row.pur_net_amt}}</td>
                                </tr>
        
        
                        </table>
                </div>
        
        
                <div class="col-md-12 nopad" style="text-align: right;">
        
                        <input type="button" class="btn btn-secondary  rounded-pill" (click)="Clear_()" style="margin: 10px;" value="Clear" >
        
                        <input type="button" class="btn btn-secondary  rounded-pill" (click)="appservice.back()" style="margin: 10px;" value="Cancel" >
                        <button (click)="Place_Order()" class="btn btn-info  rounded-pill" style="margin: 10px;" 
                                [disabled]="btndisable" > 
                                <span *ngIf="btndisable==true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          
                                <i   *ngIf="btndisable==false" class='bx bx-paper-plane'></i> Submit
                        </button>
        
                        
                        
                        </div>
        </div>