<div class="row">
    <div class="col-md-12 nopad">
        <div class="card content ">

            <div class=" Head ">
                <div class="card-header  d-flex justify-content-between align-items-center">
                    <h3>Backup</h3>

                    
                  

                    <a (click)="appservice.back()" class="x">
                        <b>X</b>
                    </a>


                    
                </div>

            </div>

            <div class="content_body">


                <div  >
                    <div class="d-table" style="width:100%;">
                        <div class="d-table-cell">
                            <div class="maintenance-content" style="box-shadow:none">
                              
                                <a style="height: 100px; width: 100px;" class="logo">
                                    <img src="assets/img/backup.png" alt="image">
                                </a>
                               
                                <p>Create Your Backup </p>
                
                                <button (click)="get_backup()" class="btn btn-info  rounded-pill" style="background-color: #984326;"style="margin: 10px;height: 40px;" 
                                   [disabled]="btndisable" > 
                                 <span *ngIf="btndisable==true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  
                        <i   *ngIf="btndisable==false" class='bx bx-sync'></i>Backup
                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

