
<!-- Start -->
<div class="  email-compose-content-area mt-20 ">

    <div class=" row nopad">
  
      <div class="col-md-3 nopad">
  
      <div class="sidebar-left " style="margin-right: 10px;">
          <div class="sidebar">
              
              <div class="sidebar-content"  style="    padding: 12px;
              background-color: gray;
              color: white;
              font-size: 17px;
              font-weight: 600;">
                  <a  >
                      <i class='bx bx-user-check'></i>
                      User
                     
                  </a>
              </div>
  
              <div class="sidebar-content d-flex email-compose-sidebar">
                 
  
                  <div class="email-compose-menu">
  
                     
                      <div class="list-group list-group-messages">
  
                          
                         
  
                          <a href="javascript:void(0)" class="list-group-item">
                              <i class='bx bx-right-arrow-alt'></i>
                              <label (click)="Load_User_Roll()">User & Role</label>
                          
                          </a>
  
                          <a href="javascript:void(0)" class="list-group-item">
                              <i class='bx bx-right-arrow-alt'></i>
                              <label (click)="Load_Backup()">Backup</label>
  
                          </a>
  
                          <a href="javascript:void(0)" class="list-group-item">
                              <i class='bx bx-right-arrow-alt'></i>
                              <label (click)="Load_Serial_No()">Serial No Settings</label>
                          </a>
  
                          <a href="javascript:void(0)" class="list-group-item">
                              <i class='bx bx-right-arrow-alt'></i>
                              <label (click)="Load_Page_Settup()">Page Settup</label>
                          </a>
  
                          <a href="javascript:void(0)" class="list-group-item">
                              <i class='bx bx-right-arrow-alt'></i>
                              <label (click)="Load_Variable_Setting()">Variable Setting</label>
                          </a>
  
                          <a href="javascript:void(0)" class="list-group-item">
                              <i class='bx bx-right-arrow-alt'></i>
                              <label (click)="Load_Company_Setting()">Company Setting</label>
                          </a>
                          
                      </div>
  
                    
                  </div>
              </div>
          </div>
      </div>
      </div>
  
  
      <div class="col-md-3 nopad">
  
          <div class="sidebar-left " style="margin-right: 10px;">
              <div class="sidebar">
                  
                  <div class="sidebar-content"  style="    padding: 12px;
                  background-color: gray;
                  color: white;
                  font-size: 17px;
                  font-weight: 600;">
                      <a  >
                          <i class='bx bx-user-pin'></i>
                         Admin 
                         
                      </a>
                  </div>
      
                  <div class="sidebar-content d-flex email-compose-sidebar">
                     
      
                      <div class="email-compose-menu">
      
                         
                          <div class="list-group list-group-messages">
      
                              
                             
      
                              <a href="javascript:void(0)" class="list-group-item">
                                  <i class='bx bx-right-arrow-alt'></i>
                                  <label (click)="Load_Field_Setting()">Field Setting</label>
                              </a>
      
                              <a href="javascript:void(0)" class="list-group-item">
                                  <i class='bx bx-right-arrow-alt'></i>
                                  <label (click)="Load_Tempate_Setting()">Template Model</label>
  
                              </a>
                             
                            
                           
    
      
                             
      
                              
                          </div>
      
                        
                      </div>
                  </div>
                 
              </div>
          </div>
  
      </div>
         
      <div class="col-md-3 nopad">
  
        <div class="sidebar-left " style="margin-right: 10px;">
            <div class="sidebar">
                
                <div class="sidebar-content"  style="    padding: 12px;
                background-color: gray;
                color: white;
                font-size: 17px;
                font-weight: 600;">
                    <a  >
                        <i class='bx bx-user-pin'></i>
                       Utilities
                       
                    </a>
                </div>
    
                <div class="sidebar-content d-flex email-compose-sidebar">
                   
    
                    <div class="email-compose-menu">
    
                       
                        <div class="list-group list-group-messages">
    
                            
                           
    
                          <a href="javascript:void(0)" class="list-group-item">
                              <i class='bx bx-right-arrow-alt'></i>
                              <label (click)="Load_Upload_Item()">Upload  Item</label>

                          </a>
                          <a href="javascript:void(0)" class="list-group-item">
                              <i class='bx bx-right-arrow-alt'></i>
                              <label (click)="Load_Upload_Employee()">Upload  employees</label>

                          </a>
                          <a href="javascript:void(0)" class="list-group-item">
                              <i class='bx bx-right-arrow-alt'></i>
                              <label (click)="Load_Upload_Supplier()">Upload Supplier</label>

                          </a>
  
    
                           
    
                            
                        </div>
    
                      
                    </div>
                </div>
               
            </div>
        </div>

    </div>
        
        
       
         
          
  </div>
    
    
  </div>
  <!-- End -->